@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

/* body {
  background: #e9eef3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
} */

.main-login-page-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 678px;
  max-width: 100%;
  min-height: 600px;
}

.signup-container,
.login-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  left: 0;
  width: 50%;
}

.signup-container {
  opacity: 0;
  z-index: 1;
}

.login-container {
  z-index: 2;
}

.signup-container.active,
.login-container.active {
  transform: translateX(100%);
}

.signup-container.active {
  opacity: 1;
  z-index: 5;
}

.main-login-page-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.main-login-page-container h2 {
  font-weight: bold;
  margin: 0;
}

.main-login-page-container input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.main-login-page-container .signup-container .error-handle,
.main-login-page-container .login-container .error-handle {
  border: 1px solid #d9003d;
}

.main-login-page-container .signup-container .signup-error-message-handle,
.main-login-page-container .login-container .login-error-message-handle {
  margin: 5px 0 15px 0;
  color: red;
}

.main-login-page-container button {
  border-radius: 20px;
  border: 1px solid #d9003d;
  background-color: #d9003d;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.main-login-page-container button:hover {
  background-color: #0f0a0a;
}
.main-login-page-container button:active {
  transform: scale(0.95);
}

.main-login-page-container button:focus {
  outline: none;
}

.main-login-page-container .overlay-button {
  background-color: transparent;
  border-color: #ffffff;
}

.main-login-page-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.main-login-page-container a:active {
  transform: scale(0.98);
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-container.active {
  transform: translateX(-100%);
}

.overlay {
  background: #d9003d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay.active {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.left-overlay-panel {
  transform: translateX(-20%);
}

.right-overlay-panel {
  right: 0;
  transform: translateX(0);
}

.left-overlay-panel.active {
  transform: translateX(0);
}

.right-overlay-panel.active {
  transform: translateX(20%);
}

.main-login-page-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}